.about-us-container {
    width: 70%;
    text-align: justify;
  }
  
  .about-us-heading {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .about-us-description {
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .about-us-content {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .plant_logo_right{
    text-align: right;
  }

  .plant_logo_left{
    text-align: left;
  }

@media screen and (max-width: 768px) {
  .about-us-container{
    width:100%;
}
}